@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Work+Sans&display=swap");

* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
}

a,
body,
button,
div,
footer,
form,
h1,
h2,
h3,
header,
html,
img,
input,
label,
li,
nav,
p,
select,
span,
table,
textarea,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-family: inherit;
  font-size: 100%;
}

body,
html {
  overscroll-behavior: none;
  overflow-x: visible;
}

li,
ul {
  list-style: none;
}

button,
input,
select,
textarea {
  display: block;
  box-sizing: border-box;
  border-radius: 0;
  outline: none;
  border: none;
  background: none;
  color: inherit;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
}

button:hover,
input[type="submit"]:hover {
  cursor: pointer;
}

textarea {
  overflow: auto;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

a,
img,
picture,
svg,
video {
  display: block;
}

html {
  background-color: $black;
  color: $white;
}

h1 {
  font-family: "Libre Baskerville", serif;
  font-size: $h1;
  color: $white;
  font-weight: 400;
}

h2 {
  font-family: "Libre Baskerville", serif;
  font-size: $h2;
  color: $white;
  font-weight: 400;
}

h3 {
  font-family: "Libre Baskerville", serif;
  font-size: $h3;
  font-weight: 400;
  line-height: 180%;
  color: $white;
}

p {
  font-family: "Work Sans", sans-serif;
  font-size: $p;
  font-weight: 400;
  line-height: 200%;
  color: $white;
}

.bold,
strong {
  font-weight: 800;
}

.overline {
  text-transform: uppercase;
  font-size: view-width(16);
}

//
////
//

body {
  background-color: $black;
}

section#section_hero {
  position: relative;
  width: 100vw;
  height: 100vh;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 1));
  }

  h2 {
    width: column-width(4);
  }

  h3 {
    margin-left: column-width(1);
    width: column-width(4);
  }

  div.content {
    position: absolute;
    display: flex;
    flex-direction: row;
    left: column-width(1);
    bottom: view-width(32);
  }
}

div#content_container {
  overflow: visible;
  position: relative;
  z-index: 10;
}

div#nav {
  position: fixed;
  top: view-width(32);
  left: column-width(9);
  z-index: 10;
  mix-blend-mode: difference;
  text-align: end;
  width: column-width(2);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .overline {
    font-size: view-width(12);
    line-height: normal;
    margin-bottom: view-width(6);
    opacity: 0.8;
    cursor: pointer;
  }

  .overline:hover {
    opacity: 1;
    text-decoration: underline;
  }
}

p#img_caption {
  position: fixed;
  width: column-width(2);
  padding: view-width(16);
  background-color: $white;
  color: $black;
  line-height: normal;
  z-index: 10;
  pointer-events: none;
  transition: opacity 0.2s ease;
  opacity: 0;
}

section#section_1 {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 10;

  p {
    width: column-width(4);
    margin-left: column-width(1);
  }
}

section#section_2 {
  margin-top: view-width(420);
  div.part_1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    z-index: 10;

    div {
      width: column-width(4);
      margin-left: column-width(1);

      h2 {
        margin-bottom: view-width(32);
      }
      p {
        margin-bottom: view-width(32);
      }
    }

    img {
      height: auto;
      width: column-width(5);
      margin-left: column-width(1);
      cursor: none;
    }
  }

  div.part_2 {
    position: relative;
    margin-top: view-width(128);
    z-index: 1;
    img {
      width: 100vw;
      height: auto;
      cursor: none;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0),
        rgba(0, 0, 1)
      );
      pointer-events: none;
    }

    .quote {
      position: absolute;
      top: view-width(128);
      left: 50%;
      transform: translateX(-50%);
      width: column-width(8);
      text-align: center;

      h3 {
        margin-bottom: view-width(16);
      }
    }
  }

  div.part_3 {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: view-width(96);
    z-index: 10;

    div {
      width: column-width(4);
      margin-left: column-width(1);
      p {
        margin-bottom: view-width(32);
      }
    }

    div:last-child {
      margin-top: view-width(212);
    }
  }
}

section#section_3 {
  margin-top: view-width(420);

  div.part_1 {
    h2 {
      margin-left: column-width(1);
    }

    div.content {
      display: flex;
      flex-direction: row;
      margin-left: column-width(1);

      p {
        margin-top: view-width(32);
        width: column-width(4);
      }

      div {
        margin-left: column-width(1);
      }
    }
  }

  div.part_2 {
    margin-top: view-width(196);
    div.quote {
      width: column-width(4);
      p {
        margin-top: view-width(16);
      }
    }

    div.left {
      margin-left: column-width(1);
    }

    div.right {
      margin-left: column-width(6);
    }
  }

  div.part_3 {
    margin-top: view-width(196);
    margin-left: column-width(1);
    width: column-width(10);
    height: 80vh;
  }

  div.part_4 {
    margin-top: view-width(128);
    display: flex;
    flex-direction: row;

    p {
      width: column-width(4);
      margin-left: column-width(1);
      margin-bottom: view-width(32);
    }
  }
}

// @media only screen and (max-width: 520px) {
//   h1 {
//     font-size: $h1Mobile;
//   }

//   h2 {
//     font-size: $h2Mobile;
//   }

//   h3 {
//     font-size: $h3Mobile;
//   }

//   p {
//     font-size: $pMobile;
//   }
// }
